*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i, img{
    cursor: pointer;
}
#main-layout{
    display:flex;
}
#primary{
    margin-right: 20px;
}
.fa-thumbs-up:active{
    color: blue;
}
.fa-thumbs-down:active{
    color: red;
}
img:hover{
    box-shadow: 0 0 0 3px lightblue;
    transition: transform .25s;
    transform: scale(1.15);
}
#main-layout{
    background-color: #eee5;
    margin-top: 70px;
}
/*all header css (nav bar)*/
#main-nav{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}
.top-left-nav{
    display:flex;
    margin-left: 15px;
    align-items: center;
    height: 100%;
}
#bar-icon{
    font-size: 23px;
}
#yt-logo{
    margin-left: 15px;
    height: 100%;
}

#search-bar-container{
    display: flex;
    position: relative;
    align-items: center;
    border: 2px solid #aaa;
    width: 400px;
    height: 30px;
}
.search-bar{
    display:flex;
}
#search{
    width: 300px;
    border: none;
    background-color: white;
}
.search-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: #ddd8;
}
#search-icon{
    font-size: 15px;
}
.top-right-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 150px;
    margin-right: 30px;
}
i{
    font-size: 20px;
}
#main-user-circle{
    font-size: 30px;
    margin-left: 10px;
}


/*all main css (main video, comments)*/


#main-container{
    margin-left: 250px;
    width: 1000px;
    padding-top: 30px;
}
#iframe-container{
    position: relative;
    padding-bottom: 56.25%;
}
#main-iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}
.statistics{
    position: relative;
    margin-bottom: 15px;
}

.video-info-wrapper{
    border-top: 1px solid #ded;
    border-bottom: 1px solid #ded;
}
.video-info{
    padding-top: 15px;
    position: relative;
}
.bottom-statistics{
    display: inline-block;
}
.like-share{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35%;
    display:flex;
    justify-content: space-between;
}
.like-share i{
    font-size: 18px;
    white-space: pre;
    color: #333;
}
#TOP-logo{
    border-radius: 50%;
    width: 50px;
    margin-right: 15px;
}
.profile-info{
    display: flex;
    align-items: center;
    float: left;
}
#subscribers{
    font-size: small;
}
button[type="submit"]{
    position: absolute;
    right: 0;
    background-color: #d00;
    border-color: #d00;
    color: #fff;
    margin-right: 30px;
    height: 50px;
    width: 100px;
    font-size: large;
    border-radius: 5px;
}
button[type="submit"]:hover{
    box-shadow: 0px 0px 0 2px inset #a00;
    cursor: pointer;
}
button[type="submit"]:active{
    transform: scale(.98);
    box-shadow: 0px 0px 0 2px inset #a00;
}

.description, .show-more{
    clear: both;
    padding-top: 10px;
    width: 800px;
    text-align: justify;
    margin-left: 60px;
}
.show-more{
    color: #666;
    width: 100px;
    margin-bottom: 20px;
}
.show-more:hover{
    cursor: pointer;
    text-decoration: underline;
}


/*all footer css*/

.comment-section{
    margin-left: 250px;
    width: 1000px;
    padding-top: 20px;   
}
.comment-section i{
    font-size: 15px;
    white-space: pre;
}
#number-of-comments{
    margin-right: 20px;
}
#my-logo{
    margin-top: 15px;
    border-radius: 50%;
    width: 50px;
    margin-right: 15px;
}
#my-comment{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ded;
    width: 950px;
}
.container{
    display: flex;
    align-items: center;
}
.comments i{
    font-size: 50px;
    margin-right: 10px;
}
.user-comment-container{
    display:flex;
    margin-top: 25px;
}
.user-content-container{
    display:flex;
    flex-direction: column;
}
.user-comment-toolbar i{
    margin-top: 7px;
    font-size: 15px;
}
.reply{
    color: blue;
}
.reply:hover{
    cursor: pointer;
    text-decoration: underline;
}

/*all aside css (side videos)*/

#side-vids{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 30px;
    grid-gap: 1em;
    width: 400px;
}
.auto-play::after{
    content: "";
    display: inline-block;
    width: 35px;
    height: 15px;
    background-color: gray;
    border-radius: 8px;
    margin-left: 40px;
}
.next-vid{
    width: 200px;
}

.next-content-wrapper{
    display: flex;
    flex-direction: column;
}
